amqp==2.6.1
asgiref==3.4.1
backports.entry-points-selectable==1.1.1
billiard==3.6.4.0
black==21.10b0
celery==4.4.2
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.7
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
distlib==0.3.3
Django==3.2.9
django-braces==1.15.0
django-crispy-forms==1.13.0
django-datatables-too==0.1.4
django-environ==0.8.1
django-extra-views==0.14.0
django-multi-form-view==2.0.1
django-widget-tweaks==1.4.9
djangorestframework==3.12.4
filelock==3.3.2
html2text==2020.1.16
htmlmin==0.1.12
identify==2.3.5
idna==3.3
kombu==4.6.11
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
pre-commit==2.15.0
prompt-toolkit==3.0.22
psycopg2==2.9.2
PyJWT==2.3.0
pytz==2021.3
PyYAML==6.0
querystring-parser==1.2.4
regex==2021.11.10
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.2
twilio==7.3.1
typing-extensions==3.10.0.2
urllib3==1.26.7
vine==1.3.0
virtualenv==20.10.0
wcwidth==0.2.5
