{% extends 'customadmin/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">

        {% include "customadmin/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "customadmin/partials/ibox_title.html" with ibox_title="Info" icon_class="fas fa-user" only %}

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.alias|as_crispy_field }}
                    </div>


                    <div class="col-sm-6">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.subcategory|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.unit|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.purchase_price|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.selling_price|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.membership_price|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.small_description|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.long_description|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.image|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 mt-2">
                        {% input_icheck form.cancel_available %}
                    </div>
                    <div class="col-sm-6 mt-2">
                        {% input_icheck form.free_shipping %}
                    </div>
                    <div class="col-sm-6 mt-2">
                        {% input_icheck form.cash_on_delivery %}
                    </div>
                    <div class="col-sm-6 mt-2">
                        {% input_icheck form.stock %}
                    </div>
                    <div class="col-sm-6 mt-2">
                        {% input_icheck form.is_deleted %}
                    </div>
                    <div class="col-sm-6 mt-2">
                        {% input_icheck form.is_active %}
                    </div>
                </div>
            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox -->

        {% include "customadmin/partials/form_footer.html" %}

    </form>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'customadmin/js/userroles.js' %}"></script>

<script>
    $(function() {
        userroles.products.details();
    });
</script>
{% endblock %}

