{% extends 'customadmin/change_form.html' %}
{% load static %}
{% load widget_tweaks %}
{% load admin_extras %}
{% load misc_filters %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block page_content %}
    <form id="{{ opts.model_name }}-form" action="" method="post" enctype="multipart/form-data" autocomplete="off">

        {% include "customadmin/partials/form_hidden_fields.html" %}

        <div class="ibox float-e-margins">

            {% include "customadmin/partials/ibox_title.html" with ibox_title="Info" icon_class="fas fa-user" only %}

            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.store_manager|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.business_email|as_crispy_field }}
                    </div>

                    <div class="col-sm-6">
                        {{ form.phone|as_crispy_field }}
                    </div>

                    <div class="col-sm-6">
                        {{ form.address|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.city|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.state|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.country|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.pincode|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.account_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.account_number|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.bank_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.branch_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.branch_address|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.ifsc_code|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.description|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.image|as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.upi_qr_code|as_crispy_field }}
                    </div>
                    <div class="col-sm-12">
                        {{ form.delivery_boys|as_crispy_field }}
                    </div>
                    <div class="col-sm-12">
                        {{ form.categories|as_crispy_field }}
                    </div>
                    <div class="col-sm-12 mt-2">
                        {% input_icheck form.is_active %}
                    </div>
                </div>
            </div>
            <!-- /ibox-content -->

        </div>
        <!-- /ibox -->

        {% include "customadmin/partials/form_footer.html" %}

    </form>

{% endblock %}


{% block js %}
{{ block.super }}
<script src="{% static 'customadmin/js/userroles.js' %}"></script>

<script>
    $(function() {
        userroles.stores.details();
    });
</script>
{% endblock %}

